
{% extends 'layouts/application.html' %}

{% block content %}
  <section id="lightbulb">
  	<img src="/assets/images/lightbulb.png" alt="Our ideas are going to change things"/>
  </section>
  <section id="preamble">
  	<div class="container">
		<p>Evolution Lawyers is an Auckland-based incorporated law firm specialising in insolvency, commercial,
		company, and property law.  We provide both litigation and transactional services to small-to-medium sized businesses operating in New Zealand.</p>
		<p>
		Click on 'Our Philosophy' to find out how we’re different.  Or email Tamina Cunningham-Adams right
		now at tamina@evolutionlawyers.nz.</p>
		</div>
		<hr/>
  </section>

  <section id="philosophy">
  	<div class="container">
  	<hr/>
  	<h3>OUR PHILOSOPY</h3>
		<p>With most things in life, you get what you pay for.  But when it comes to legal services, most of the time it’s not exactly clear what you’re ‘getting’.  It’s even less clear what distinguishes one law firm from another.  Practically every law firm out there claims to offer services that are ‘client-focused’, ‘cost-effective’, ‘commercial’, and so on.  And generally similar sized firms tend to charge similar rates.  So how do you choose between them?  Office swankiness?  Nice coffee?  How much you like the brand?</p>

		<p>This goes right to the top of the profession.  Have a look at what the three top firms in New Zealand say about themselves:</p>

		<p>“Legal guides and directories consistently recognise Bell Gully as being New Zealand's leading firm.”<br/>
		“Russell McVeagh is New Zealand's premier commercial law firm.”<br/>
		“Chapman Tripp is New Zealand's leading full service law firm with offices in Auckland, Wellington and Christchurch.”</p>

		<p>Translation:</p>

		<p>"I’m the best”<br/>
		“No, I’m the best”<br/>
		“No way, I’m the best”</p>
		<p>
		These three firms are experiencing what we like to call the 'Apple vs. Google phenomenon'.  Apple and Google are similar in size, offer a very similar product offering, and market to a very similar customer base. So what distinguishes Apple from Google? In other words, where is the real competition between them?  It lies, almost exclusively, in the customer experience.  The same applies to law firms that provide essentially the same services.  They are competing on customer experience alone.  Hence the swanky office and nice coffee. </p>
				<hr/>
			<p>Evolution is different.  We have no premises.  Our lawyers work from home offices with remote
supervision from Tamina and Thomas, and remote administration and research support.  This is not only a massive cost saving for the firm; it means our lawyers can be more efficient, productive, and (gasp) happy.  That means better quality services for our clients and much lower staff attrition.  All of this is aimed at creating and fostering long-term client relationships.
			</p>
				</div>
  </section>


  <section class="split">
    <div class="container-fluid">
    	<div class="row">
      <div class="col-md-6 col">
          <div class="vertical-center">
      <div>
      We don’t claim to be
  cost-effective while
  operating out of a CBD
  skyscraper in one of most expensive cities in the world
      </div>
      </div>
      </div>
      <div class="col-md-6 col">
      <div class="vertical-center">
      <div>We don’t claim to be modern and innovative while browsing
      the web with
      Internet Explorer 8
      </div>
      </div>
          </div>
          <img class="center-img" src="/assets/images/logo.png" alt="Evolution Law"/>
          </div>

      </div>
  </section>

{% endblock %}

{% block javascript %}
<script src="assets/javascripts/app.js"></script>
{% endblock %}
