{% extends 'layouts/application.html' %} {% block content %}
<section class="lightbulb">
    <img src="/assets/images/lightbulb.png" alt="Our ideas are going to change things" />
</section>
<section id="preamble">
    <div class="container">
        <p>Evolution Lawyers is an Auckland-based incorporated law firm specialising in insolvency, commercial, company, and property law.  We provide both litigation and transactional services to small-to-medium sized businesses operating in New Zealand.</p>
        <p>
            Continue reading to find out how we’re different.  Or email Tamina Cunningham-Adams right now at <a href="mailto:tamina@evolutionlawyers.nz">tamina@evolutionlawyers.nz</a></p>
    </div>
    <hr/>
</section>
<section class="server image-section full">
    <div class="container-fluid">
        <h2 class="top"><img class="top" src="/assets/images/oldprof.png" alt="Law is an old profession" /></h2>
        <h2 class="bottom"> <img class="bottom" src="/assets/images/future.png" alt="This is what the future looks like" /></h2>
        <!--<h2 class="top"><span>Law is an old profession</span></h2>
        <h2 class="bottom"><span>This is what the future looks like</span></h2>-->
    </div>
</section>
<section id="philosophy">
    <div class="container">
        <hr/>
        <h3>OUR PHILOSOPHY</h3>
        <p>We believe the way lawyers work will change more in the next 50 years than it has in the last 500.  With technology advancing faster than ever before, even a profession as old and conservative as law will be forced to adapt.  Our philosophy is that embracing this evolution is better than reacting to it.  In the end, it’s about ensuring we can always provide the legal services that modern clients require.</p>
        <hr/>
    </div>
</section>
<section class="desk text-center">
    <img class="scale-image" src="/assets/images/desk.jpg" alt="We prefer a home office to an ivory tower" />
    </div>
</section>
<section>
    <div class="container">
        <p>Unlike most firms, Evolution Lawyers does not have a central office.  Our lawyers work from home offices with remote supervision from Tamina and Thomas, and remote administration and research support.  This is not only a massive cost saving for the firm; it means our lawyers can be more efficient, productive, and (gasp) happy.  That means better quality services for our clients and much lower staff attrition.  All of this is aimed at creating and fostering long-term client relationships.
        </p>
    </div>
</section>
<section class="split">
    <div class="container-fluid">
        <div class="row">
            <div class="row-same-height">
                <div class="col-md-6 col-md-height col-middle col">
                    We don’t claim to be cost-effective while operating out of a CBD skyscraper in one of the most expensive cities in the world
                </div>
                <div class="col-md-6 col-md-height col-middle col">
                    We don’t claim to be modern and innovative while browsing the web with software that hasn't been updated in a decade
                </div>
                <img class="center-img" src="/assets/images/logo.png" alt="Evolution Law" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <hr/>
        <p>Having no central premises has absolutely no negative impact on the quality of the legal product.  Our lawyers are connected to each other 24/7, are subject to the same rules that would apply in any physical law firm, including best practice rules around management, delegation, and peer-review, and make use of all the benefits of modern technology.  </p>
        <p>
            And we mean modern technology.  Tamina and Thomas are the founders of <a href="http://catalex.nz">CataLex</a> – a company at the cutting edge of legal solutions software.  Evolution benefits from its association with CataLex in a number of ways, including by having CataLex develop an online client relationship portal specifically for Evolution.  It also means we can ensure our services are truly modern, and of the highest possible standard.</p>
    </div>
</section>
<section class="astro">
    <div class="text-center">
        <img class="scale-image" src="/assets/images/astro.jpg" alt="Law is not the final frontier,
        But we are going where no firm has gone before" />
    </div>
</section>
<section>
    <div class="container">
        <p>Despite all this talk about technology, we are not a so-called ‘online law firm’.  You can actually meet us in person, and we encourage that.  We’re happy to come to you, meet at a nice café, or book a meeting or conference room at a convenient location.  Whatever works.  We just think, for the most part, email, text, phone, and Skype do the trick just fine.  They are not only convenient; they save cost and mean we can be more available to our clients. </p>
    </div>
</section>
<section class="split second">
    <div class="container-fluid">
        <div class="row">
            <div class="row-same-height">
                <div class="col-md-6 col-md-height col-middle col">
                    We don’t claim to be a full service law firm while also claiming to be a firm of specialists
                </div>
                <div class="col-md-6 col-md-height col-middle col">
We don't use a billing system with in-built incentives for inefficiency while claiming to be efficient
                </div>
                <img class="center-img" src="/assets/images/logo.png" alt="Evolution Law" />
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container">
        <p>Evolution is a boutique firm.  Our lawyers are true specialists.  We provide transactional and litigation services to SMEs in the areas of insolvency, commercial, property, and company law.  That’s it.  If you need something outside of those areas, we will ensure you have access to our extensive referral network, and can assist with managing your instruction.  Simply put, we will never take on an instruction unless we are confident it is within our area of expertise.  For us, it is not about collecting all the work we can; it’s about making sure all the work we do is of the highest possible standard.</p>
        <hr/>
    </div>
</section>
<section class="time image-section full">
    <div class="container-fluid">
        <h2 class="top">Our time isn't worth anything.  But our services are.</h2>
    </div>
</section>
<section>
    <div class="container">
        <p>
Let’s talk fees.  Most firms charge by the hour – so do we.  The difference?  We charge different rates according to the service being provided; not the person providing the service.  There are three categories, as per the following table:

            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Fee category</th>
                            <th>Rate</th>
                            <th>Types of work</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>A - Core Legal Services</td>
                            <td>$350</td>
                            <td>Original drafting of instruments and claims, writing a legal opinion, providing written legal advice, providing substantive legal advice over the telephone, Skype, or in person, appearing in Court, acting in a negotiation or mediation, and attending a meeting at your request.</td>
                        </tr>
                        <tr>
                            <td>B - Related Legal Services</td>
                            <td>$250</td>
                            <td>Reviewing documents and evidence, researching the law, considering application of the law, completing a basic precedent document, and correspondence with you, other lawyers, and the Court, including reporting on matter progress, seeking further instructions, and following up deadlines and other known requirements.</td>
                        </tr>
                        <tr>
                            <td>C - Incidental Services</td>
                            <td>$150</td>
                            <td>Proof-reading, compiling a bundle of documents or authorities, administering a data room, and general matter management.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
            We believe staggering our rates this way not only promotes efficiency; it also makes for better fee estimates and ensures our fees are reasonable, as required by the <a target="_blank" href="https://browser.catalex.nz/published/10061">Lawyers and Conveyancers Act (Lawyers: Conduct and Client Care) Rules 2008</a>.
        </p>
    </div>
</section>
<section class="yay image-section full">
    <div class="container-fluid">
        <h2 class="top">Initially factory farmed<br/><br/>Now free range</h2>
    </div>
</section>
<section id="people">
    <div class="container">
        <h3>OUR PEOPLE</h3>
        <p>Tamina and Thomas initially worked together at a top-tier commercial law firm, before leaving that firm to found CataLex (legal software) in 2014 and Evolution Lawyers (legal services) in 2015.  They are long-standing friends and professional colleagues.  Tamina, in fact, was moving counsel in Thomas’ admission to the bar.  Through Evolution Lawyers, they can finally combine their complimentary skill sets and unique backgrounds to provide a better standard of legal service to the New Zealand business community.</p>
    </div>
    <div class="container">
        <div class="row">
        <div class="col-md-6">
            <div class="text-center"><img src="/assets/images/tamina.jpg" /></div>
            <div>
                <h4>Tamina Cunningham-Adams</h4>
                <h5>LLB (Hons), BA, B Ed (Tchg)</h5>
                <h4>Director</h4>
                <strong><a href="tel:+64211515137">+64 21 1515 137</a></strong><br/>
                <strong><a href="mailto:tamina@evolutionlawyers.nz">tamina@evolutionlawyers.nz</a></strong>
                <p>
                    Tamina is the firm’s managing director.  She excels at helping clients overcome challenges affecting their business, particularly when it comes to disputes and insolvency matters.  She focuses on understanding her clients’ businesses and developing long-term relationships, so as to provide truly valuable legal counsel.  At the same time as being director of Evolution and CataLex, Tamina is a practising liquidator of complex corporate assignments and CEO of insolvency firm, Fisher White & Associates.  She is also a published author, guest lecturer in commercial law at the University of Auckland, and a qualified teacher.
                </p>
                <div class="contact">
                    <a href="https://nz.linkedin.com/pub/tamina-cunningham-adams/30/195/a64" target="_blank"><i class="fa fa-linkedin-square"></i>Tamina @ LinkedIn</a>
                    <a href="skype:taminacunningham?userinfo"><i class="fa fa-skype"></i>Tamina @ Skype</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div>
                <div class="text-center"><img src="/assets/images/thomas.jpg" /></div>
                <h4>Thomas Bloy</h4>
                <h5>LLB</h5>
                <h4>Director</h4>
                <strong><a href="tel:+64211515137">+64 274 538 552</a></strong><br/>
                <strong><a href="mailto:thomas@evolutionlawyers.nz">thomas@evolutionlawyers.nz</a></strong>
                <p>
                    Thomas is a problem-solver.  He enjoys dealing with complex legal matters over a wide range of subject areas - large or small, litigation or transactional.  He is also the creative force behind Evolution Lawyers and CataLex, and managing director of the latter.  At Evolution, he is in charge of systems administration, quality assurance, process improvement, and operational efficiency.  He also develops and maintains the firm’s knowledge assets.  Thomas is a published author, with one of his articles being favourably cited in Canadian case law.  Before becoming a lawyer, he was an operations’ analyst for a large insurance company and, before that, a musician.
                </p>
                <div class="contact">
                    <a href="https://nz.linkedin.com/in/thomasbloy" target="_blank"><i class="fa fa-linkedin-square"></i>Thomas @ LinkedIn</a>
                    <a href="skype:thomas.bloy?userinfo"><i class="fa fa-skype"></i>Thomas @ Skype</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
                <div>
                <div class="text-center"><img src="/assets/images/person-placeholder.jpg" /></div>
                    <h4>Sophie Gagnon</h4>
                    <h4>Practice Manager</h4>
                    <strong><a href="tel:+642102439766">+64 21 024 39766</a></strong><br/>
                    <strong><a href="mailto:sophie@evolutionlawyers.nz">sophie@evolutionlawyers.nz</a></strong>
                </div>
        </div>

        <div class="col-md-6">
                <div>
                <div class="text-center"><img src="/assets/images/person-placeholder.jpg" /></div>
                    <h4>Kieran Boyle</h4>
                    <h5>LLB</h5>
                    <h4>Solicitor</h4>
                    <strong><a href="tel:+64277150587">+64 27 715 0587</a></strong><br/>
                    <strong><a href="mailto:kieran@evolutionlawyers.nz">kieran@evolutionlawyers.nz</a></strong>
                </div>
        </div>

    </div>
    </div>
            <hr/>
</section>
<section id="contact">
    <div class="container">
        <h3>CONTACT</h3>
        <table class="icons">
            <tr>
                <td><i class="fa fa-mobile-phone"></i></td>
                <td>
                    <a href="tel:0800352993">0800 ELAWYERS (0800 352 993)</a>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-at"></i></td>
                <td>
                    <a href="mailto:mail@evolutionlawyers.nz">mail@evolutionlawyers.nz</a>
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-fax"></i></td>
                <td>
                     Fax: +64 9 929 3332
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-envelope-o"></i></td>
                <td>
                     PO Box 40046, Glenfield, Auckland 0747
                </td>
            </tr>

            <tr>
                <td><i class="fa fa-linkedin-square"></i></td>
                <td>
                       <a href="https://nz.linkedin.com/company/evolution-lawyers-limited" target="_blank">LinkedIn</a><br/>
                </td>
            </tr>
            <tr>
                <td><i class="fa fa-facebook"></i></td>
                <td>
                       <a href="https://www.facebook.com/evolutionlawyers" target="_blank">facebook.com/evolutionlawyers</a>
                </td>
            </tr>

        </table>
        <hr/>
    </div>
</section>
<section class="stegosaurus image-section full">
    <div class="container-fluid">
        <h2 class="top">Dinosaurs dominated the earth for a long time...
        <br/><br/>...then they went extinct.</h2>
    </div>
</section>
{% endblock %} {% block javascript %}
<script src="assets/javascripts/app.js"></script>
{% endblock %}
