<!doctype html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% block title %}Evolution Lawyers{% endblock %}</title>
  <link rel="stylesheet" href="assets/stylesheets/global.css">
  <link rel="icon"
      type="image/png"
      href="/assets/images/favicon.png">
  {% block head %}{% endblock %}
</head>
<body>
{% include "../shared/header.html" %}
  {% block content %}

  {% endblock %}


  {% include "../shared/footer.html" %}

  <script src="assets/javascripts/app.js"></script>
  {% block javascript %}{% endblock %}
</body>
</html>
